<html>
<head>
    <title>Add Job</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
</head>
<body class="flex flex-col min-h-screen">
{% include 'header.html' %}
<div class="flex-grow">
    <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <form method="post" action="{% url 'insert_job' %}" class="flex flex-col text-center w-full mb-12">
            {% csrf_token %}
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Add Job</h1>
            <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <div class="relative flex-grow w-full">
                    <label for="url" class="leading-7 text-sm text-gray-600">URL</label>
                    <input type="url" id="url" name="job_url" required class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-transparent focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div><br>
                <div class="relative flex-grow w-full">
                    <label for="company" class="leading-7 text-sm text-gray-600">Company</label>
                    <input type="text" id="company" name="company"  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-transparent focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div><br>
                <div class="relative flex-grow w-full">
                    <label for="salary" class="leading-7 text-sm text-gray-600">Salary</label>
                    <input type="number" id="salary" name="salary" required class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-transparent focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div><br>
                <div class="relative flex-grow w-full">
                    <label for="year_from" class="leading-7 text-sm text-gray-600">Year From</label>
                    <select id="year_from" name="year_from" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-transparent focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        <option value="1">1st Year</option>
                        <option value="2">2nd Year</option>
                        <option value="3">3rd Year</option>
                        <option value="4">4th Year</option>
                    </select>
                </div>
                <input type="submit" value="Add Job" class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">
            </div>
        </form>
    </div>
</section>
</div>

{% include 'footer.html' %}
</body>
</html>
